<!doctype html >
<html lang="en" style ="background:   #cccccc">
<head>
	<link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.min.css">

	<link rel="stylesheet" href="styles.css">
	
	<meta charset="UTF-8">
	<title >To Do List</title>
</head>

<body style="width: 1002px;margin-left: 163px; background:  #DBE2E0" >
	 <div class="row" style="margin-top: 136px">
		  <div class="small-2 large-2 columns " style ="padding-left: 199px;"><h1> <a href="/">To Do Liste</a></h1> </div>
		  <div class="small-4 large-5 columns"> <%= yield %></div> 
	</div>
	
</body>
</html>